.card {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  height: 361px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

.card__image {
  height: 282px;
  width: 282px;
  display: block;
  object-fit: contain;
}

.card__footer {
  display: flex;
  align-items: center;
  max-width: 240px;
  margin: 0 20px;
}

.card__description {
  margin: 25px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 219px;
}

.card__button {
  background-image: url(../images/heart.svg);
  background-color: #ffffff;
  height: 18px;
  width: 21px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  padding: 0;
}

.card__button:hover {
  opacity: 0.5;
}
