.gallery {
}

.gallery__cards {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  column-gap: 17px;
  row-gap: 20px;
  margin: 51px 0 0;
}

@media screen and (max-width: 1024px) {
  .gallery {
    max-width: 581px;
    align-items: center;
    margin: 47.25px auto 0;
  }
}

@media screen and (max-width: 850px) {
  .gallery {
    margin: 36px auto 0;
  }
}
