.profile {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: 40px auto 0;
  max-width: 100%;
}

.profile__image {
  border-radius: 50%;
  max-height: 120px;
}

.profile__title {
  margin-left: 30px;
  display: grid;
  grid-template-columns: 1fr 42px;
  max-width: 415px;
  align-items: center;
}

.profile__name {
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__job-title {
  margin: 8px 0 0;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
}

.profile__button {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__button:hover {
  opacity: 0.6;
}

.profile__button_type_edit {
  height: 24px;
  width: 24px;
  background-image: url(../images/edit.svg);
  background-size: 10px 10px;
  border: 1px solid white;
  justify-self: end;
}

.profile__button_type_add {
  height: 50px;
  width: 150px;
  margin-left: auto;
  border: 2px solid white;
  background-image: url(../images/add.svg);
  background-size: 22px 22px;
  border-radius: 2px;
}

@media screen and (max-width: 850px) {
  .profile {
    flex-direction: column;
    margin: 38.25px auto 0;
    justify-content: center;
    max-height: fit-content;
  }

  .profile__title {
    justify-items: center;
    margin: 26.25px 0 30px;
    max-width: 224px;
    grid-template-columns: 1fr 26px;
  }

  .profile__name {
    font-size: 22px;
    line-height: 1.21;
    max-width: 196px;
    display: inline-block;
  }

  .profile__job-title {
    margin-top: 14px;
    font-size: 14px;
    line-height: 1.21;
  }

  .profile__button_type_edit {
    height: 18px;
    width: 18px;
    background-size: 7.5px 7.5px;
    justify-self: end;
  }

  .profile__button_type_add {
    margin: auto;
    width: 100%;
    background-size: 16px 16px;
  }
}
